{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/index.css' %}" />   
</head>
<body>
    {%if messages%}
    
    <h2>{{messages}}</h2>

    {%endif%}
    
    
    <div class="log_in_div">
        <a href="{% url 'myapp:login_view' %}">

            <button class="log_in_button">
                <div class="long_in_botton_log_in">ログイン</div>
            </button>
        </a>
    </div>
    <div class="member_registration_div">
        <a href="{% url 'myapp:signup_view' %}">
            <button class="member_registration_button">
                <div class="member_registration_button_member_registration">会員登録</div>
            </button>
        </a>
    </div>

    
</body>
</html>