{% extends 'myapp/base.html' %}
{% load static %}
<!-- <!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/signup.css' %}" />
    
</head>
<body> -->
    <!-- <header class="member_registration_first">会員登録</header><hr> -->

    {% block header-title %}会員登録{% endblock %}
    {% block extra_style %}<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/signup.css' %}" />{% endblock %}
    <!-- <div class="member_registration_second">
        <form action="{% url 'signup_view' %}"  method="post">
            <fieldset class="form-block">
                <div><legend class="form-title">Usename:</legend></div>
                <div class="form-input"><input type="text"  name="person"   class="input-text"  required></div>
            </fieldset>

            <fieldset class="form-block">
                <div><legend class="form-title">Email<br>address:</legend></div>
                <div   class="form-input"><input type="email"     class="input-text" required></div>
            </fieldset>

            <fieldset class="form-block">
                <div><legend class="form-title">Password:</legend></div>
                <div   class="form-input"><input type="password"  class="input-text" required></div>
            </fieldset>

            <fieldset class="form-block">
                <div><legend class="form-title">Password<br>confirmation:</legend></div>
                <div   class="form-input"><input type="password"  class="input-text" required></div>
            </fieldset>

            <fieldset class="form-block">
                <div><legend class="form-title">Img:</legend></div>
                <div   class="file"><input type="file"  class="input-text" required></div>
            </fieldset>

            <div class="submit-btn">
                <input type="submit" value="subimit" > 
                    
                
            </div>
        </form>

    
    </div> -->
    {% block content %}
    
    <form method="post" enctype="multipart/form-data">
        <form action="{% url 'myapp:signup_view' %}" method="post">
            {% csrf_token %}
            <div class="question"><div class="question_name">username:</div>
            {{form.username}}</div>
            <br>
            <div class="question"><div class="question_name">Email<br>address:</div>{{form.email}}</div>
            
            
            <br>
            <div class="question"><p class="question_name">Password:</p>
            <p>{{form.password1}}</p></div>
            <br>
            <div class="question"><div class="question_name">Password<br>confirmation:</div>
            {{form.password2}}</div>
            <br>
            <div class="question"><div class="question_name">Img:</div>
            {{form.image}}</div>
            <input type="submit" value="Submit">
        </form>
    </form>
    {% endblock %}
    {% block footer %}
    {% endblock %}
    
<!-- </body>
</html> -->